all nodes
[{"id":"c5fe5ac9.51c118","type":"tab","label":"Flow 1","disabled":false,"info":""},
{"id":"b70b4bd2.5b3848","type":"vtjbot-listen","z":"c5fe5ac9.51c118","botId":"80eb3205.80381","name":"","x":210,"y":720,"wires":[["9559148b.a49058","fadfc9cc.59f228"]]},
{"id":"9559148b.a49058","type":"vtjbot-converse","z":"c5fe5ac9.51c118","botId":"80eb3205.80381","name":"","x":420,"y":800,"wires":[["17daa89a.b66017","3eb38424.cea3bc"]]},
{"id":"b0c3df0c.2c242","type":"change","z":"c5fe5ac9.51c118","name":"start/stop listen","rules":[{"t":"set","p":"mode","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":500,"wires":[["b70b4bd2.5b3848","f0741fd8.573cc"]]},
{"id":"17daa89a.b66017","type":"debug","z":"c5fe5ac9.51c118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":740,"wires":[]},
{"id":"9ddb6909.3117d8","type":"vtjbot-speak","z":"c5fe5ac9.51c118","botId":"80eb3205.80381","mode":"speak","payload":"","name":"","x":790,"y":780,"wires":[["1ef69903.49edb7"]]},
{"id":"1ef69903.49edb7","type":"debug","z":"c5fe5ac9.51c118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":700,"wires":[]},
{"id":"3eb38424.cea3bc","type":"change","z":"c5fe5ac9.51c118","name":"response speak","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.object.output.text[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":860,"wires":[["9ddb6909.3117d8"]]},
{"id":"fadfc9cc.59f228","type":"debug","z":"c5fe5ac9.51c118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":210,"y":820,"wires":[]},
{"id":"fbcf6aac.1466f8","type":"change","z":"c5fe5ac9.51c118","name":"stop record","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":280,"wires":[["b0c3df0c.2c242"]]},
{"id":"e92f822e.2997d","type":"change","z":"c5fe5ac9.51c118","name":"start record","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":380,"wires":[["b0c3df0c.2c242"]]},
{"id":"9f631b1b.689288","type":"rpi-gpio in","z":"c5fe5ac9.51c118","name":"button","pin":"15","intype":"up","debounce":"25","read":true,"x":90,"y":200,"wires":[["a82ed37a.2a3ee","5e9f407.0c7e5c"]]},
{"id":"f379950a.76f4d8","type":"rpi-gpio out","z":"c5fe5ac9.51c118","name":"led","pin":"40","set":true,"level":"0","freq":"","out":"out","x":730,"y":160,"wires":[]},
{"id":"289e5141.da237e","type":"change","z":"c5fe5ac9.51c118","name":"led off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":100,"wires":[["f379950a.76f4d8"]]},
{"id":"dbb902f8.8e645","type":"change","z":"c5fe5ac9.51c118","name":"led on","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":200,"wires":[["f379950a.76f4d8"]]},
{"id":"a82ed37a.2a3ee","type":"debug","z":"c5fe5ac9.51c118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":80,"wires":[]},
{"id":"5e9f407.0c7e5c","type":"switch","z":"c5fe5ac9.51c118","name":"led and record","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":200,"wires":[["fbcf6aac.1466f8","289e5141.da237e"],["e92f822e.2997d","dbb902f8.8e645"]]},
{"id":"f0741fd8.573cc","type":"debug","z":"c5fe5ac9.51c118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":400,"wires":[]},
{"id":"61948889.91d108","type":"inject","z":"c5fe5ac9.51c118","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"what is it","payloadType":"str","x":380,"y":960,"wires":[["9559148b.a49058"]]},
{"id":"58a9b67d.201ff8","type":"inject","z":"c5fe5ac9.51c118","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"perhistoric olive mill","payloadType":"str","x":470,"y":660,"wires":[["9559148b.a49058"]]},
{"id":"80eb3205.80381","type":"vtjbot-config","botGender":"female","name":"","listen":"en-US","speak":"en-US","hasServo":false,"hasLED":false,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":false,"aUrl":"https://gateway-fra.watsonplatform.net/assistant/api","taUrl":"https://gateway-lon.watsonplatform.net/tone-analyzer/api","ltUrl":"https://gateway-lon.watsonplatform.net/language-translator/api","sttUrl":"https://gateway-lon.watsonplatform.net/speech-to-text/api","ttsUrl":"https://gateway-lon.watsonplatform.net/text-to-speech/api","vrUrl":"https://gateway.watsonplatform.net/visual-recognition/api"}]
